 <div id="encabezado">
    <h1>LISTA DE PRODUCTOS</h1>
 </div>
 <div id="Lista de productos">
    {{#each listaproductos}}
        <h3>TITULO:{{title}}</h3>
        <h3>DESCRIPCION:{{description}}</h3>
        <p>PRECIO:{{price}}</p>
        <p>STOCK{{stock}}</p>
        <p>ID:{{id}}</p>
    {{/each}}
 </div>
 