 <div id="encabezado">
    <h1>LISTA DE PRODUCTOS</h1>
 </div>
 <div id="Lista de productos">
    {{#each listaproductos}}
        <h3>TITULO:{{this.title}}</h3>
        <h3>DESCRIPCION:{{this.description}}</h3>
        <p>PRECIO:{{this.price}}</p>
        <p>STOCK{{this.stock}}</p>
        <p>ID:{{this.id}}</p>
    {{/each}}
 </div>
 